body {
  font-family: "Average Sans", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #d0a794;
}

.logo {
  letter-spacing: 5px;
}

.logo h4 {
  color: #7f7d7e;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nav-links {
  display: flex;
  width: 60%;
  justify-content: space-around;
  vertical-align: middle;
  margin: initial;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #04c2c9;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
i.inverted.circular.teal.icon {
  margin: auto;
  background-color: #7f7d7e !important;
  color: #d0a794 !important;
  border: #010202;
  border-style: outset;
  border-width: thin;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    z-index: -5;
    padding: 0%;
    text-align: center;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 8vh;
    background-color: #d0a794;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
  .nav-links li {
    opacity: 0;
    opacity: 0;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: solid black 1px;
  }
  .nav-links li a {
    width: 100%;
  }
  .burger {
    display: flex;
  }
  .logo {
    width: 60%;
  }
  .text p {
    font-size: 38px;
  }
  .highlight {
    font-size: 48px;
  }
  #profile {
    padding: 0px 0px !important
  }
  #percent {
    display: none
  }
  #home-title {
    top: 30%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav-active {
  transform: translateY(0%);
}

.home {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  background-color: #e6e8e5;
  padding: 60px 10px 20px;

  border-bottom-style: outset;
}

.portfolio {
  background-color: #e6e8e5;
  padding: 60px 10px 20px;

  border-bottom-style: outset;
}

.blog {
  height: 100vh;
  background-color: white;
}

.contact {
  height: 100vh;
  background-color: #ece9e9;
}

#tsparticles {
  height: 100vh;
  width: 100%;
}

#home-title {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto !important;
}

.text p {
  text-align: center;
  font-size: 39pt;
  font-family: "Average Sans", sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.highlight {
  font-weight: bold;
  -webkit-text-stroke-width: 0.1px;
  font-size: 50pt;
  color: #d4845c;
  -webkit-text-stroke-color: black;
}

.circle {
  height: 150px;
  width: 150px;
  shape-outside: circle();
  clip-path: circle(50% at 50% 50%);
  background: radial-gradient(#e6e8e5, #ca6638);
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animated-circle {
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 2s;
}
.expand {
  clip-path: circle(50% at 50% 50%);
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 40pt;
  position: relative;
  font-weight: 600;
}

.skills {
  margin-top: 20px;
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 15px;
  font-family: "Average Sans", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.skills.who {
  margin-bottom: 0px;
}

.huge.icon,
i.huge.icons {
  font-size: 6em !important;
  margin: 0 !important;
}

.profile {
  width: 100%;
  padding: 20px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  transition: clip-path 1s;
}
.profile:hover {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 100%,
    70% 100%,
    30% 100%,
    0 100%,
    0 0
  );
}

.ui.grid + .grid {
  margin-top: 6rem;
}

#blurb {
  font-size: 13pt;
}

.skills.who {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30pt;
}

.piechart {
  width: 50%;
}

#pie-list {
  width: 90%;
  margin: auto;
  text-align: center;
  border-style: groove;
  color: #d4845c !important;
  -webkit-text-stroke-color: black;
  background-color: rgba(0, 0, 0, 0) !important;
}

#pie-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

#pie-list li {
  line-height: 50px;
  height: 50px;
  font-size: 15pt;
}

#profile {
  width: 100%;
  margin: 80px auto 60px;
  padding: 20px 20px;
  border-top: outset;
  border-bottom: outset;
  border-color: #00000021;
}

#special {
  font-size: x-large;
  font-family: cursive;
}

.marker {
  font-family: "Average Sans", sans-serif;
  color: #7f7d7e;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.skills.marker {
  letter-spacing: 3px;
}

.profile-pic {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.animate-profile {
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  align-items: flex-end;
  background-color: #eee;
  color: #666;
  font-size: 7pt;
  height: 22px;
  margin: 0 0 12px 0;
  position: relative;
}

.bar .fill {
  left: 0;
  position: absolute;
  top: 0;
  background-color: #d4845c;
  opacity: 1;
  padding: 0;
  transition: 1.1s 0.2s width ease-in-out;
}

.bar .tag {
  left: 0;
  position: absolute;
  top: 0;
  background-color: #d0a794;
  color: #fff;
  height: 100%;
  width: 90px;
  font-size: 13px;
  font-weight: bold;
}

.bar span {
  padding: 0 5px 0 0;
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
}

.graph{
  padding: 20px;
}

.aws-btn{
  --button-default-height: 47px !important;
  --button-default-font-size: 14px !important;
  --button-default-border-radius: 6px !important;
  --button-horizontal-padding: 20px !important;
  --button-raise-level: 5px !important;
  --button-hover-pressure: 2 !important;
  --transform-speed: 0.185s !important;
  --button-primary-color: transparent !important;
  --button-primary-color-dark: #191919 !important;
  --button-primary-color-light: #ffffff !important;
  --button-primary-color-hover: #d4835c !important;
  --button-primary-border: 1px solid #d4835c !important;
  }
