body {
  font-family: "Permanent Marker", cursive;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #d0a794;
}

.logo {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 5px;
}

.logo h4 {
  font-family: "Permanent Marker", cursive;
  color: #7f7d7e;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nav-links {
  display: flex;
  width: 60%;
  justify-content: space-around;
  vertical-align: middle;
  margin: initial;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #04c2c9;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
i.inverted.circular.teal.icon  {
  margin: auto;
  background-color: #7f7d7e!important;
    color: #d0a794!important;
    border: #010202;
    border-style: outset;
    border-width: thin;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    z-index: -5;
    padding: 0%;
    text-align: center;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 8vh;
    background-color: #d0a794;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: flex;
  }
  .logo {
    width: 60%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav-active {
  transform: translateY(0%);
}

.home {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  background-color: #e6e8e5;
  padding: 60px 10px 20px;

  border-bottom-style: outset;
}

.portfolio {
  height: 100vh;
  background-color: #ece9e9;
}

.blog {
  height: 100vh;
  background-color: white;
}

.contact {
  height: 100vh;
  background-color: #ece9e9;
}

#tsparticles {
  height: 100vh;
  width: 100%;
}

#home-title {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100% !important;
  margin: auto !important;
}

.text p {
  text-align: center;
  font-size: 32pt;
  font-family: "Permanent Marker", cursive;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.highlight {
  font-weight: bold;
  -webkit-text-stroke-width: 0.1px;
  font-size: 40pt;
  color: #d4845c;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 768px) {
  .text p {
    font-size: 38px;
  }
  .highlight {
    font-size: 48px;
  }
}

.circle {
  height: 150px;
  width: 150px;
  shape-outside: circle();
  clip-path: circle(50% at 50% 50%);
  background: radial-gradient(#e6e8e5, #ca6638);
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black;
    border-style: dotted;
}
.animated-circle {
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 2s;
}
.expand {
  clip-path: circle(50% at 50% 50%);
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 40pt;
  position: relative;
  font-weight: 600;
}

.skills {
  margin-top: 20px;
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 15px;
  font-family: "Permanent Marker", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.huge.icon,
i.huge.icons {
  font-size: 6em !important;
  margin: 0 !important;
}

.profile {
  width: 100%;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  transition: clip-path 1s;
}
.profile:hover {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 100%,
    70% 100%,
    30% 100%,
    0 100%,
    0 0
  );
}

.ui.grid + .grid {
  margin-top: 6rem;
}

#blurb {
  font-size: 13pt;
}

.skills.who {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30pt;
}

.piechart {
  width: 50%;
}

#pie-list {
  width: fit-content;
  margin: auto;
  text-align: center;
  border-style: groove;
  color: #d4845c !important;
  -webkit-text-stroke-color: black;
  background-color: rgba(0, 0, 0, 0) !important;
}

#pie-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

#pie-list li {
  line-height: 50px;
  height: 50px;
  font-size: 15pt;
}

#profile {
  width: 100%;
  margin: 80px auto 60px;
  padding: 20px 0px;
  border-top: outset;
  border-bottom: outset;
  border-color: #00000021;
  background: linear-gradient(180deg, rgba(211,143,111,1) 0%, rgba(223,200,187,1) 11%, rgba(230,232,229,1) 50%, rgba(224,204,191,1) 85%, rgba(211,143,111,1) 100%);
}

#special {
  font-size: x-large;
  font-family: cursive;
}

.marker{
  font-family: "Permanent Marker", cursive;
  color: #7f7d7e;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.skills.marker{
  letter-spacing: 3px;
}