body {
  font-family: "Lucida Console", Courier, monospace;
}

.Nav {
  top: 0;
  left: 0;
  position: sticky;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}

.link-wrapper {
  text-indent: 40px;
  top: 30%;
  color: white;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.link-wrapper a {
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.Nav .link-wrapper > .active {
  color: #04c2c9 !important;
}

.home {
  height: 100vh;
  align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
  
  background-color: white;
  padding: 60px;
  position: relative;
}

.portfolio {
  height: 100vh;
  background-color: #ece9e9;
}

.blog {
  height: 100vh;
  background-color: white;
}

.contact {
  height: 100vh;
  background-color: #ece9e9;
}

#tsparticles {
  height: 100vh;
  position: absolute;
  width: 100%;
}

#home-title {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100% !important;
  margin: auto !important;
}

.text {
  text-align: center;
  font-size: 32pt;
  font-family: "Lucida Console", Courier, monospace;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.highlight {
  font-weight: bold;
  font-size: 40pt;
  color: #c90460;
  -webkit-text-stroke-color: aqua;
}

.circle {
  height: 150px;
  width: 150px;
  shape-outside: circle();
  clip-path: circle(50.0% at 50% 50%);
  background: linear-gradient(to top right, #04c2c9, #04c2c96e);
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animated{
  clip-path: circle(0.0% at 50% 50%);
  transition: clip-path 2s;
}
.expand{
  clip-path: circle(50.0% at 50% 50%);
}


.ui.grid {
  text-align: center;
  width: inherit;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 40pt;
  position: relative;
  font-weight: 600;
}

.ui.fluid.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  text-align: center;
}

.skills {
  margin-top: 20px;
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 15px;
}

.huge.icon, i.huge.icons {
  font-size: 6em !important;
  margin: 0 !important;
}

.profile{
  width: 70%;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  transition: clip-path 1s;
}
.profile:hover{
  clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 0);
}

.ui.grid+.grid {
  margin-top: 3rem;
}
