.Nav {
  top: 0;
  left: 0;
  position: fixed;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}

.link-wrapper {
  text-indent: 40px;
  top: 30%;
  color: white;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.link-wrapper a {
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.Nav .link-wrapper > .active {
  color: #04c2c9 !important;
}

.home {
  height: 100vh;
}

.about {
  height: 100vh;
  background-color: white;
}

.portfolio {
  height: 100vh;
  background-color: #ece9e9;
}

.blog {
  height: 100vh;
  background-color: white;
}

.contact {
  height: 100vh;
  background-color: #ece9e9;
}

#tsparticles {
  height: 100vh;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: fit-content;
}

.text {
  text-align: center;
  font-size: 32pt;
  font-family: "Lucida Console", Courier, monospace;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.highlight {
font-weight: bold;
font-size: 40pt;
color: #c90460;
-webkit-text-stroke-color: aqua;
}

#cut-diamond {
  border-style: solid;
  border-color: transparent transparent red transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 50px 0;
}
#cut-diamond:after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: red transparent transparent transparent;
  border-width: 70px 50px 0 50px;
}

.title{
  text-align: center;
}